 <!DOCTYPE html>
<html lang="en">
	<head>
{{{header}}}
	</head>

	<body class="home_page">
	
		<div class="page content">
			<div class="box center_form">
				<div>
					<div class="main-title">
						QuickyHealth
					</div>
				</div>
				<p class="important">
				{{message}}
				</p>
				<form id="loginForm" action="/login" method="post">
					<table>
						<tr>
							<td>
								<label>Email:</label>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" name="email" value="joe"/>
							</td>
						</tr>
						<tr>
							<td>
								<label>Password:</label>
							</td>
						</tr>
						<tr>
							<td>
								<input type="password" name="password" value="test"/>
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" value="Login" />
							</td>
						</tr>
					</table>
				</form>
				<div>
					<a href="/forgetpassword">Forgot Password</a> | <a href="/register">Register</a>
				</div>
			</div>
			
			<div class="sub_message">
				Get quick yes or no answers<br/>to your health questions
			</div>
		</div>
		
	</body>
</html> 