 <!DOCTYPE html>
<html lang="en">
	<head>
{{{header}}}
	</head>

	<body>

	
		<div>
		{{#each questions}}
		  <p>{{@index}}. {{this}}</p>
		{{/each}}
		</div>
		<form id="addQuestionForm" action="/questions" method="post">
			<div>
				<input type="text" name="question" value="where am I?"/>
				<input type="submit" value="Add" />
			</div>
		</form>
	
		<form id="logoutForm" action="/logout" method="get">
			<div>
				<input type="submit" value="Logout" />
			</div>
		</form>
		
	</body>
</html> 