 <!DOCTYPE html>
<html lang="en">
	<head>
{{{header}}}
	</head>

	<body>

		{{#each questions}}
			<div>
			{{@index}}. {{#with this}}
				id={{id}} {{question}}
				{{no}} {{yes}} {{date_created}} {{date_modified}}
		    {{/with}}
			</div>
		{{/each}}
		
		<form id="addQuestionForm" action="/questions" method="post">
			<div>
				<input type="text" name="question" value="where am I?"/>
				<input type="submit" value="Add" />
			</div>
		</form>
		<form id="myQuestionForm" action="/questions/mine/0" method="get">
			<div>
				<input type="submit" value="My Questions" />
			</div>
		</form>
		<form id="deleteQuestionForm" action="/questions/3/delete" method="post">
			<div>
				<input type="submit" value="Delete" />
			</div>
		</form>
		<form id="logoutForm" action="/logout" method="get">
			<div>
				<input type="submit" value="Logout" />
			</div>
		</form>
		
	</body>
</html> 