html, body {
	margin:0px;
	height: 100%;
	max-width: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
}
.page {
	overflow-y: auto;
	height:100%;
}



body,input,button {
	font-family: Open Sans;
}
form {
	display:inline-block;
}
form > table {
	text-align:left;
}
form input {
	box-sizing: border-box;
}

.home_page {
	background-size : cover;
	background-position : center center;
	background-image:url('/image/download.jpg');
}
#loginForm input[type='submit'] {
	width:100%;
}




.question-item[data-mine='true'] {
	border:1px solid red;
}
.question-item:not([data-mine='true']) .delete,
.question-item:not([data-mine='true']) .edit {
	display:none;
}
.content {
	text-align:center;
}
.main-title {
	color:white;
	border-radius:0.8em;
	padding:0.2em 0.4em;
	background-color:#ff8700;
	display:inline-block;
	font-size:3em;
	border:3px solid white;
}
.icon {
	width:2em;
	height:2em;
    cursor:pointer;
}
.selected {
	border:1px solid red;
	padding:2px;
	margin:2px;
}
.vote-text {
	font-size:2em;
	display:inline-block;
}
.box {
	margin:1em;
	padding:1em;
}
.important {
	color:red;
}
.date {
	font-size:0.7em;
	color:gray;
}