html, body {
	margin:0px;
	height: 100%;
	max-width: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color:#d2d2d2;
}
.page {
	overflow-y: auto;
	height:100%;
}
body,input,button {
	font-family: Open Sans;
}

.content {
	text-align:center;
}
form {
	display:inline-block;
}
form > table {
	text-align:left;
}
form input {
	box-sizing: border-box;
}
form input[type='submit'] {
	width:100%;
}

.icon {
	width:2em;
	height:2em;
    -webkit-filter: hue-rotate(220deg) saturate(5);
    filter: hue-rotate(220deg) saturate(5);
}
.vote-text {
	font-size:2em;
	display:inline-block;
}

.box {
	margin:1em;
	padding:1em;
	border:1px solid #ddd;
	background-color:white;
}
.question-item {

}


.important {
	color:red;
}
.date {
	font-size:0.7em;
	color:gray;
}